.App {
  text-align: center;
}

html {
  background-color: #495e57;
}

h1 {
  font-family: 'Markazi Text';
  color: #495e57;
  font-size: 4rem;
}
h2 {
  font-family: 'Markazi Text';
  color: #495e57;
  font-size: 3rem;
}
h3 {
  font-family: 'Markazi Text';
  color: #495e57;
  font-size: 2rem;
}
h4 {
  font-family: 'Markazi Text';
  color: #495e57;
  font-size: 1.5rem;
}
p {
  font-family: 'Karla';
  color: #495e57;
  font-size: 1rem;
}
span {
  font-family: 'Karla';
  color: #495e57;
  font-size: 1rem;
}
img {
  max-height: 300px;
}

.application {
  z-index: 10;
  display: grid;
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 200px;
  overflow-y: scroll;
  grid-template-areas:  "header"
                        "main";
}

header {
  grid-area: header;
  display: grid;
  position: relative;
  width: 100%;
  color: #495e57;
  background-color: #edefee;
  grid-template-columns: repeat(3, 1fr);
  height: 60px;
  grid-template-areas: "logo nav nav";
  #little-lemon-logo {
    display: grid;
    grid-area: logo;
    justify-self: left;
    margin-left: 30px;
    align-self: center;
  }
}

nav {
  grid-area: nav;
  grid-column: 2 / -1;
  display: flex;
  position: relative;
  justify-self: right;
  align-self: center;
  list-style: none;
  margin-right: 30px;
  .nav-item {
    margin-right: 10px;
    font-family: 'Karla';
  }
}

main {
  grid-area: main;
  display: grid;
  justify-content: center;
  position: relative;
  background-color: #495e57;
  height: 100%;
}

footer {
  z-index: 3;
  background-color: #edefee;
  border-top: #333333;
  border-style: solid none none none;
  color: #495e57;
  position: fixed;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  bottom: 0;
  display: grid;
  justify-content: center;
  grid-template-areas: "div div div";
  font-family: 'Markazi Text';
  div {
    margin-right: 60px;
    margin-top: 20px;
    ul {
      margin-top: 20px;
      padding-left: 0%;
    }
    li {
      list-style: none;
      font-family: 'Karla';
      a:visited, a:link{
        text-decoration: none;
        color: #495e57;
      }
      a:hover {
        background-color: #333333;
        color: #f4ce14;
      }
    }
  }
}
