.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1 {
  font-family: 'Markazi Text'
}
h2 {
  font-family: 'Markazi Text'
}
h3 {
  font-family: 'Markazi Text'
}
h4 {
  font-family: 'Markazi Text'
}
h5 {
  font-family: 'Markazi Text'
}
h6 {
  font-family: 'Markazi Text'
}
p {
  font-family: 'Karla'
}
span {
  font-family: 'Karla'
}
img {
  max-height: 100px;
}

.application {
  display: grid;
  grid-auto-rows: minmax(150px, auto);
  grid-template-areas:  "header"
                        "main"
                        "footer";
}

header {
  grid-area: header;
  display: grid;
  justify-content: center;
  grid-template-areas: "img nav nav";
}
nav {
  display: flex;
  list-style: none;
  .nav-item {
    margin-right: 10px;
    font-family: 'Karla';
  }
}

main {
  grid-area: main;
  display: grid;
  justify-content: center;
}

footer {
  grid-area: footer;
  display: grid;
  justify-content: center;
  grid-template-areas: "div div div";
  font-family: 'Markazi Text';
  div {
    margin-right: 20px;
    li {
      list-style: none;
      font-family: 'Karla';
    }
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
